* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
header {
    text-align: center;
}
footer {
    text-align: center;
    font-size: small;
}
#content {
    flex: 1;
    position: relative;
}
#content > * {
    /* Workaround Chrome flex bug */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}