<section id="home">
    <link rel="stylesheet" type="text/css" href="Styles/Home.css" />
    <aside class="pa-sidebar well well-small">
        <div class="nav-header clearfix">
            <span>Messages</span>

            <input id="newMessage" type="checkbox" hidden />
            <label for="newMessage" class="btn btn-mini">New</label>
            <div class="popover right fade in">
                <div class="arrow"></div>

                <div class="popover-inner">
                    <h3 class="popover-title">Contacts</h3>
                    <div class="popover-content">
                        <input type="search" ng-model="ContactsFilter" placeholder="Filter your contacts"/>
                        <ul class="scroll"><li ng-repeat="profile in Contacts | filter:ContactsFilter">
                                <user-avatar profile="profile" />
                        </li></ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="left nav nav-list scroll auto-scroll">
            <li ui-sref-active="active" ng-repeat="conv in Conversations">
                <a ui-sref="Home.TextConversation({convId:conv.Id})">
                    <user-avatar profile="conv.Receiver" hide-email />
                </a>
            </li>
        </ul>
    </aside>
    <div class="right" ui-view="subView"></div>
</section>