<section id="home">
    <link rel="stylesheet" type="text/css" href="Styles/Home.css" />
    <aside class="pa-sidebar well well-small">
        <ul class="left nav nav-list">
            <li class="nav-header">Conversations</li>
            <li ui-sref-active="active" ng-repeat="conv in Conversations | orderBy:Id">
                <a ui-sref="Home.TextConversation({convId:conv.Id})">{{conv.Receiver.FullName}}</a>
            </li>
        </ul>
    </aside>
    <div class="right" ui-view="subView"></div>
</section>