* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
header {
    margin-bottom: 10px !important;
}
footer {
    margin-top: 5px;
    text-align: center;
    font-size: small;
}
#content {
    flex: 1;
    position: relative;
}
#content > * {
    /* Workaround Chrome flex bug */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}