section.user-avatar {
    display: flex;
    flex-direction: row;
}
section.user-avatar > div.left {
    position: relative;
    width: 20px;
}
section.user-avatar > div.left div {
    position: absolute;
    left: 2px;
    top: calc(50% - 7px);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: white 2px solid;
    background: #E6E6E6;
}
section.user-avatar > div.left div[data-presence='Available'] {
    background: green;
}
section.user-avatar > div.left div[data-presence='Busy'] {
    background: darkred;
}
section.user-avatar > div.left div[data-presence='MayBeAway'] {
    background: #FBB03B;
}
section.user-avatar > div.left div[data-presence='Unregistered'],
section.user-avatar > div.left div[data-presence='Phone'] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB/UlEQVR42n2TOcsaQRiAxyNEIkgiKdwsfG6ZVkUkrT/Bysb7ALHyvq+/IIKksRJBwRt7G4Oo8NmmM2QTTYqgIMHglXeGrOwQ2IGHOXbfZ2bed1eGRG273brlcrkJSbT7/f6s0+kawlwmDCqVyttAIPBTvLbZbEiv1+uRTPZYvrfbbSYSifygBOVymfX7/fx6vUbH4xHvhG63G+kF1Go1slgsqNPpcNFo9AslKJVKrM/n48PhMLpcLiT4er0+wHNMq9VC3W6Xi8VitKBYLBKB0+l8BIgD8fh8PqPxeIx6vR4Xj8dpQaFQYL1eL2+z2R5BAvhEOBj30+kU9ft9LpFI0IJ8Ps96PB7earUK2X6cQJyP2WyGBoMBl0wmaUEul2PdbjdvNpulqojm8zkaDodcKpWiBdlslghMJsnPAC0WCyJIp9O0IJPJsC6XizcajZKC5XKJRqMRB+/TAjCyUAHeYDBIClarFa4EByemBXAnIggGg5KCer1OTgBJpwWQVdbhcPDilxuNBlIoFAiuRklwFaDs/+Xgnd1u/ybMcclCoRBSKpWoVqtRgslk8gRX+EoE1WpVrdVqGdjpDcMwH1Uq1XtYl+Nnh8OB/EQajYY4gdvpdPq82+2C8FH92u/3W1mz2eTgwQeAAV4Dr4CXwIt/ItxuwBn4A/wG9sB34NNfKBId8J1u7y8AAAAASUVORK5CYII=');
    border-radius: 0;
    border: 0;
    left: 1px;
    top: calc(50% - 8px);
    height: 16px;
    width: 16px;
}
section.user-avatar > div.left div[data-presence='Unregistered'] {
    /* Licence: CC Attribution-Noncommercial-No Derivate 3.0 */
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACKElEQVR42mNkwAJ6s/QEXKxVIrj5+IwYGBh/vXrx9sKmfbfWdyy/8RZdLSO6wJVlfrFyqvITWTnZBBmhsv//MzB8//zzy/I1Z0qze0/MwGnAjRVe2XIacpMZmRgxDAaBf7/+/+/s35XbtPTeVAwD5pVoKYWG6F9jZmNmh6gG2vwXqIAZyGZCGPLm/usvThm7FO+8/v8GxYDrC63q5TREGsBO/s3A8PTGg29r9j7doqwsIeLro+zECDXk95u3DIlVx6LWXfi/HMWAvU2qM1Vk2JLAlv/+y5DZfyNvxw2G6U76vFwb+w0/M7H9Z/r37THD7+cPGcpm/S+dc5ShB8UAXg4G1u+/GDjBLoBIfPvzj+HPrCx+qQhPricM/14zMvz7w/DrHQND+mSGzLUXGGZgjQVksLWSU9NY4+dqTr5/2qBg/f+HgeHdA4a/Di0MRg8/MFzCa8DsNE6FALsf59i4/wuCFAEtZ/j+ioGhZSXD9NlHGbJ//QU7FLcBJ1rZqjW1frXAbH77iOF3xRKGlg0XGdqBmn/jTEgwcLaRZbKC/J8ccKD+YGCYuoVhacMWhhiCKREGQk1YjbnZ/9kyQEP10sN/p889/X+UaAOOT/cMF5eT8AWp+P/7P8O8RbvWtK59toFoA67O0myXV+epAHvhJwPDhOnXptat/5pDtAEnaxnbVZT+ww2YsolhauM2BuINMFdgUOHnZLBlhAQBw5O3DDeuvWI4jq4OALUa2RG/eScaAAAAAElFTkSuQmCC');
}
user-avatar:not([hide-email]) section.user-avatar > div.left div {
    top: calc(25% - 7px);
}
user-avatar:not([hide-email]) section.user-avatar > div.left div[data-presence='Unregistered'],
user-avatar:not([hide-email]) section.user-avatar > div.left div[data-presence='Phone'] {
    top: calc(25% - 8px);
}
section.user-avatar > div.right {
    flex: 1;
    display: flex;
    flex-direction: column;
}
section.user-avatar > div.right > div.fullname {
    font: 14px "Segoe UI SemiBold";
    flex: 1;
}
section.user-avatar > div.right > div.email {
    font: 14px "Segoe UI";
    flex: 1;
}
user-avatar[hide-email] section.user-avatar > div.right > div.email {
    display: none;
}