#account {
    display: flex;
    width: 100%;

    overflow-y: auto;
}
#account > fieldset {
    flex: 1;
    padding: 10px 20px;
    margin: 14px;
}
#account form {
    margin: 0 20px;
    padding: 14px;

    background-color: #EDEDED;
    border: 1px solid #DEDEDE;
    border-radius: 3px;
}
#account table {
    width: 100%;
}
#account table tr > * {
    vertical-align: text-bottom;
}
#account table th {
    width: 110px;
}
#account table th + td > input {
    height: 30px;
    width: 100%;
}
#account table caption {
    text-align: left;
    margin: 0 10px 10px 10px;
    font-weight: bold;
}
#account table th {
    text-align: right;
    padding-right: 20px;
}
#account table [colspan] {
    padding-bottom: 10px;
    text-align: center;
}
#account table input[type=checkbox] {
    margin: 0;
}
#account table [colspan] > :not(:first-child) {
    margin-left: 5px;
}