#login {
    margin: 0 auto;
    width: 290px;
}
#login > label {
    display: block;
    text-align: right;
    width: auto;
}
#login label input {
    width: 200px;
}
#login input[type=submit] {
    margin-top: 20px;
}