<section id="home">
    <link rel="stylesheet" type="text/css" href="Styles/Home.css" />
    <aside class="pa-sidebar well well-small">
        <ul class="left nav nav-list">
            <li class="nav-header">Messages</li>
            <li ui-sref-active="active" ng-repeat="conv in Conversations">
                <a ui-sref="Home.TextConversation({convId:conv.Id})">
                    <useravatar profile="conv.Receiver" hide-email />
                </a>
            </li>
        </ul>
    </aside>
    <div class="right" ui-view="subView"></div>
</section>