<section id="ImagePreviewer" ng-class="{show: Attachment}" ng-click="Close($event)">
    <link type="text/css" rel="stylesheet" href="Styles/ImagePreviewer.css" />
    <div class="wrapper">
        <div class="dialog-body" ng-class="{loading: !IsLoaded}">
            <div class="img-wrapper">
                <img ng-src="{{Attachment.Url}}" />
                <div class="close-button"><div class="X" ng-click="Close()"></div></div>
            </div>
            <div class="circle"><div class="spn-pulse"></div></div>
            <div class="desc-wrapper"><a class="desc" title="Download" ng-href="{{Attachment.Url}}" ng-bind="Attachment.Raw().filename || FileName" download="{{Attachment.Raw().filename}}"></a></div>
        </div>
    </div>
</section>