<section id="login">
    <link rel="stylesheet" type="text/css" href="Styles/Login.css" />
    <form name="loginForm">
        <table>
            <tbody>
                <tr>
                    <th><label for="UserName">E-mail</label></th>
                    <td><input id="UserName" type="email" name="UserName" ng-model="UserName" required /></td>
                    <td>
                        <span ng-show="loginForm.UserName.$error.required" class="help-inline">Required</span>
                        <span ng-show="loginForm.UserName.$error.email" class="help-inline">Not an email address</span>
                    </td>
                </tr>
                <tr>
                    <th><label for="Password">Password</label></th>
                    <td><input id="Password" type="password" name="Password" ng-model="Password" required /></td>
                    <td>
                        <span ng-show="loginForm.Password.$error.required" class="help-inline">Required</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="btn btn-primary" type="submit" value="Login" ng-click="Submit()" ng-disabled="loginForm.$invalid" />
                        <input class="btn btn-danger" type="reset" value="Reset" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>